/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/*!
 * SlickNav Responsive Mobile Menu v1.0.3
 * (c) 2015 Josh Cope
 * licensed under MIT
 */
.slicknav_menu:after,
.slicknav_menu:before {
  display: table;
  content: " ";
}
.slicknav_btn,
.slicknav_nav .slicknav_item {
  cursor: pointer;
}
.slicknav_menu,
.slicknav_menu * {
  box-sizing: border-box;
}
.slicknav_nav,
.slicknav_nav ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: .438em .625em;
  line-height: 1.125em;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 1px 3px #000;
}
.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: .125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.slicknav_menu:after {
  clear: both;
}
.slicknav_nav li,
.slicknav_nav ul {
  display: block;
}
.slicknav_nav .slicknav_arrow {
  font-size: .8em;
  margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item a {
  display: inline;
}
.slicknav_nav .slicknav_row,
.slicknav_nav a {
  display: block;
}
.slicknav_nav .slicknav_parent-link a {
  display: inline;
}
.slicknav_menu {
  *zoom: 1;
  font-size: 16px;
  background: #fff;
  padding: 0px;
}
.slicknav_menu .slicknav_icon-bar {
  background-color: #fff;
}
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222;
}
.slicknav_nav {
  clear: both;
  color: #fff;
  margin: 0;
  font-size: 0.875em;
}
.slicknav_nav ul {
  margin: 0 0 0 20px;
}
.slicknav_nav .slicknav_row,
.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
}
.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #fff;
}
.slicknav_nav a {
  text-decoration: none;
  color: #000;
}
.slicknav_nav a:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #222;
}
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}
.slicknav_brand {
  float: left;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}
body {
  background: #fff;
  font-size: 16px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.single-col {
  float: left;
  width: 100%;
}
header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #000000;
}
.nav-logo {
  float: left;
  padding: 5px;
  max-height: 120px;
}
.nav-logo img {
  max-width: 120px;
}
.navbar {
  height: 130px;
}
.main-menu-content #main-menu {
  display: none;
  margin-top: 10px;
}
.main-menu-content {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
ul {
  list-style: none;
}
.main-menu-content #main-menu li {
  float: left;
  display: block;
}
ul li a {
  color: #000;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  margin-top: 5px;
  font-weight: 400;
  padding: 20px 14px;
  line-height: 20px;
  transition: all 0.2s;
}
ul li a:hover {
  color: green;
}
.slicknav_menu {
  left: 0;
  right: 0;
}
.slicknav_btn {
  margin-top: 55px;
}
@media screen and (min-width: 768px) {
  .slicknav_menu {
    display: none;
  }
  .main-menu-content #main-menu {
    display: block;
  }
  ul li a {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  ul li a {
    padding: 20px 22px;
  }
}
.logo {
  text-align: center;
}
.logo img {
  max-width: 120px;
}
@media all and (min-width: 800px) {
  .footer-main .single-col {
    width: 33.33%;
  }
  .sala .single-col,
  .kawiarnia .single-col,
  .oferta .single-col {
    width: 33.33%;
  }
}
.top-slider {
  height: 200px;
}
.button-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin: 0 auto;
}
.slider-container {
  margin-top: 80px;
  position: relative;
  max-height: 80vh;
}
.slider-container img {
  width: 100%;
  max-height: 80vh;
}
.slides-container {
  position: relative;
}
.slider-button {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  top: 50%;
  color: #fff;
  padding: 8px 16px;
}
.slide-left {
  left: 2px;
}
.slide-right {
  right: 2px;
}
.slider-info {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 5px 8px;
  text-align: center;
  color: #FF6C00;
  font-weight: 800;
  border-top: 1px solid #7520ED;
  border-bottom: 1px solid #7520ED;
  background: rgba(116, 31, 237, 0.4);
}
.sectionSlides2 {
  animation: fading 2s infinite;
}
.section-title {
  text-align: center;
  font-size: 28px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 20px;
}
.section-title:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 25%;
  background-color: #c68c00;
  transform: translateX(-50%);
}
.section-title:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  height: 2px;
  width: 20%;
  background-color: #c68c00;
  transform: translateX(-50%);
}
.section-content:after {
  content: "";
  display: table;
  clear: both;
}
.sala img,
.kawiarnia img,
.oferta img {
  max-width: 100%;
  border-radius: 65px;
}
.footer-main {
  background: #ccc;
}
.galeria ul {
  list-style-type: none;
}
.galeria ul li {
  display: inline-block;
}
.footer-copy {
  background: #555;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}
.slideshow {
  margin: 5px auto;
  position: relative;
  min-height: 240px;
  height: 100%;
}
.slideshow > div {
  position: absolute;
}
